.v2 .offerings-page {
  position: relative;

  @import "../brokerage-modules/offerings-list-carousel.less";
  @import "../brokerage-modules/offering-details.less";

  .offering-details-module {
    .offering-container {
      margin-top: 350px;

      .overview-wrapper {
        top: 105px;
        width: 100%;
        position: absolute;
        left: 0;
        height: 300px;
      }
    }
  }


  .no-offerings {
    text-align: center;

    .coffee {
      margin-top: 70px;
      background: url(/images/brokerages/brokerage_sprites.png) 0 0 @citizen-crm-gray-lightest;
      height: 233px;
      width: 234px;
      display:inline-block;
    }

    .subtitle {
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: @hero-text-size;
      font-weight: 100;
      color: @citizen-slate-light;
    }

    .link {
      color: @citizen-blue;
    }
  }
  //following not in use
  #offering-graph {

    .start-anim {
      background-color: #000;
      width: 0px;
      opacity: 0.1;
    }

    .end-anim {
      transition: all @material-easing;
      opacity: 1;
      background-color: @citizen-green;
    }

    div {
      cursor: pointer;
      margin: 5px 0;
      &:hover {
        background-color: #ccc;
      }
    }

  }
}
