<cvc-chrome theme="'v2'" page-title="Offerings">
  <div class="crm-page offerings-page">
    <div class="crm-content">

      <div class="ng-hide" ng-show="offerings.length > 0">
        <!-- BROKERAGES LIST CAROUSEL MODULE -->
        <offerings-list-carousel 
          brokerage="brokerage" 
          selected-offering-id="selectedOfferingId" 
          offerings-db="offeringsDb" 
          offerings="offerings"></offerings-list-carousel>

        <!-- BROKERAGE OFFERING DETAILS MODULE -->
        <offering-details 
          class="offering-details-module" 
          brokerage="brokerage" 
          selected-offering-id="selectedOfferingId" 
          offerings-db="offeringsDb" 
          offerings="offerings"></offering-details>

        <!-- BROKERAGE SERIES MODULE -->
        <offering-series 
          class="offering-series-module ng-hide" 
          brokerage="brokerage" 
          ng-show="selectedOfferingId" 
          selected-offering-id="selectedOfferingId" 
          offerings-db="offeringsDb" 
          offerings="offerings"></offering-series>
      </div>

      <div class="ng-hide no-offerings" ng-show="offerings.length == 0">
        <div class="coffee"></div>
        <h2 class="subtitle">Currently, you have not opted into any live deals.</h2>
        <a href="#" class="link">VIEW ALL CITIZEN.VC DEALS</a> <span class="separator">|</span> <a href="#" class="link">VIEW PAST DEALS</a>
      </div>
    </div>
  </div>
</cvc-chrome>
