.bargraph-simple {
  display: block;
  height: 5px;
  background-color: @citizen-gray-medium-light;
  border-radius: 5px;
  margin: 10px 0;

  .completeness {
    display: block;
    height: 5px;
    background-color: @citizen-green;
    border-radius: 5px;
    width: 1%;
  }
}
