<div class="v2 crm-page confirm-modal modal-cvc modal-crm">
  <div class="modal-header">
    <h3>{{dialogViewModel.title()}}</h3>
  </div>
  <div class="modal-body">
    <form name="confirmModalForm">
      <ol>
        <li>          
          <div class="container-fluid col-sm-12">
            <section class="row message col-sm-12">
              {{dialogViewModel.message()}}
            </section>
          </div>
        </li> 
      </ol>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-cancel-material-flat btn-crm-modal-footer"
            type="button"
            ng-click="dismissChanges()">
      No
    </button>
    <button class="btn-primary-material-floating btn-crm-modal-footer"
            ng-click="performAction()">
      Yes</span>
    </button>
  </div>
</div>
