.offering-series-doc-dialog {

  .series-name {
    width: 100%;
  }

  .row {
    margin: 0 0 10px 0;
  }


  .file-upload {
    text-align: center;
  }

  .documents {
    border: 0;
    width: auto;
    border-collapse: collapse;
    padding: 0;
    vertical-align: top;
    margin: 20px 0;
    text-align: left;
    background-color: @citizen-gray-light;

    input {
      &.choice {
        width: auto;
        margin: 0 3px;
      }
    }

    td, th {
      width: 33.33%;
      border-bottom: solid 1px @citizen-gray-medium-light;
      padding: 10px 3px;
    }

    .file-icon {
      float: left;
      line-height: 27px;
    }

    .header {
      color: @citizen-gray-medium;
      background-color: white;
      text-align: left;
      font-size: 12px;
      font-weight: 400;
    }

    .last {
      overflow: auto;
    }

    .signature {
      float: left;
      width: 100px;
    }

    .document {
      position: relative;
      padding: 10px 0;
      border-top: solid 1px @citizen-gray-medium-light; 
    }

    .doc-visibility {
      display: block;
    }

    .form-group li {
      vertical-align: top;

      label {
        font-weight: 400;
      }
    }

    .select-box {
      text-transform: capitalize;
    }

    .doc-flags {
      position: relative;
      padding: 20px 0;

      legend {
        position: absolute;
        top: -20px;
        left: 0px;
        border: none;
      }

      fieldset {
        border: solid 1px @citizen-gray-medium-light;
        padding: 10px 0;
        margin-left: 15px;
        color: @citizen-gray-medium-dark;
      }

      .left-col {
        border-right: solid 1px @citizen-gray-medium-light;
        padding: 0;
      }

      
      .right-col {
        padding: 0;
      }

      label {
        padding: 0 0 0 10px;
      }

    }

  }

  .file-select-contents {
    position: relative;
    .visual-element {
      width: 50%;
    }

    .drag-instructions {
      width: 50%;
    }
  
    button {
      position: absolute;
      top: 33%;
      left: 65%;
    }
  }

}