.v2 .crm-page {
  .offering-series {
    
    .row {
      margin: 0 0 20px 0;
    }
    
    .series-header-wrap {
      overflow: hidden;
    }
    
    .series-name {
      text-transform: uppercase;
    }

    .brokerage-module {
      .documents {
        padding: 5px 0;
        margin: 0 15px 15px 15px;
        border-bottom: solid 1px @citizen-gray-medium-light;

        .header {
          color: @citizen-gray-medium;
          font-weight: 400;
          display: inline-block;
          min-height: 36px;
          padding: 10px 0;
        }
      }
    }

    .separator {
      color: @citizen-blue;
      font-size: 12px;
      font-weight: 500;
      margin: 0 20px;    
    }

    .edit-toggle {
      padding: 0 5px;
    }

    .select-box {
      text-transform: uppercase;
    }
    
    .series-header-details {
      float: right;
      text-align: right; 
      position: absolute;
      right: 0;

      .status {
        display: inline-block;
        background-color: white;
        text-align: center;
        color: @citizen-gray-medium;

        &.open {
          background-color: @citizen-green-med-dark;
          color: white;
        }

        &.closed {
          background-color: @citizen-red;
          color: white;
        }

        &.on_hold {
          background-color: @citizen-yellow;
          color: white;
        }

        &.draft {
          background-color: @citizen-gray-medium;
          color: white;
        }

        &.not_yet_opened {
          background-color: @citizen-blue;
          color: white;
        }

      }
    }

    .economics {
      color: @citizen-gray-medium-dark;
      display: inline-block;
      font-weight: 400;
      margin: 0 0 0 20px;

      .description {
        color: @citizen-gray-medium;
        font-size: 14px;
        display: block;
      }

      .data {
        font-size: 30px;
      }
    }

    .document {
      float: left;
      width: 48%;
      margin: 0 2% 10px;
      font-weight: 400;
      overflow: auto;
      padding: 10px;

      &.ng-move, &.ng-enter, &.ng-leave {
        transition: all @material-easing;
      }

      &.ng-leave-active {
        transform: @transform-dismiss-right;
        opacity: 0;
      }

      &.last {
        margin-right: 0;
        margin-left: 0;
      }

      .file-link {
        padding: 0;
      }

      .glyphicon {
        display: block;
        float: left;
        font-size: 35px;
        line-height: 43px;
        width: 50px;
        color: @citizen-gray-medium;
      }

      .details {
        float: left;
      }

      .title {
        color: @citizen-gray-medium-dark;
        display: block;
        margin: 0 0 15px 0;
        font-weight: 500;
      }

      .type {
        color: @citizen-gray-medium;
        text-transform: capitalize;
      }

      .separator {
        color: @citizen-gray-medium-dark;
      }

      .required {
        color: @citizen-gray-medium;
      }

      .edit {
        position: absolute;
        top: -5px;
        right: 20px;        
      }

      .confirm-delete-button {
        position: absolute;
        top: -5px;
        right: -5px;
      }
    }


  }
}