<!-- BROKERAGES SERIES MODULE -->
<ul>
   <li class="common-section offering-series" ng-repeat="series in seriesViewModels track by series.id()">
    <h2 class="crm-section-header" ng-if="$index === 0">
      <span>Series ({{seriesViewModels.length}})</span>
      <button ng-click="addNewSeries()" type="button" class="btn-primary-material-floating add-firm ng-click-active">
        <span class="glyphicon glyphicon-plus"></span> Add Series
      </button>
    </h2>

    <div class="brokerage-module">
      <section class="row series-header-wrap">
        <div class="col-xs-6 module-header series-name">
          {{series.name()}}
          <button class="edit-toggle view ng-click-active" type="button" ng-click="series.edit()" ng-if="series.isNotYetOpened()">
            <span class="icon glyphicon glyphicon-pencil"></span>
          </button>
        </div>

        <div class="col-xs-6 series-header-details">
          <a class="action" ng-href="{{series.investorViewLink()}}">SEE INVESTOR VIEW</a>
          <span class="separator">|</span>
          <select class="crm-input select-box status {{series.status().value()}}" 
            ng-init="currStatus = series.status().value()" 
            ng-options="status.value() as status.humanReadable() for status in SeriesStatus.all()" 
            ng-change="series.changeStatus(currStatus)" 
            ng-model="currStatus"></select>
        </div>
      </section>

      <section class="row">
        <ul>
          <li class="economics">
            <span class="description">FEE</span>
            <span class="data">{{series.feePercentage() | currency:""}}%</span>
          </li>
          <li class="economics">
            <span class="description">CARRY</span>
            <span class="data">{{series.carryPercentage() | currency:""}}%</span>
          </li>
          <li class="economics">
            <span class="description">COMMISSION</span>
            <span class="data">{{series.commissionPercentage() | currency:""}}%</span>
          </li>
          <li class="economics">
            <span class="description">PLACEMENT FEES</span>
            <span class="data">{{series.placementFeePercentage() | currency:""}}%</span>
          </li>          
          <li class="economics">
            <span class="description">RECOMMENDED MIN INVESTMENT</span>
            <span class="data">{{series.recommendedMinInvestment().amount() | currency}}</span>
          </li>          
        </ul>
      </section>
      <section class="row">
        <div class="col-xs-12 documents">
          <span class="header description">Documents ({{series.allDocModels.length}})</span>
          <button ng-click="series.addNewDoc()" ng-if="series.isNotYetOpened()" type="button" class="btn-primary-material-flat add-firm ng-click-active">
            <span class="glyphicon glyphicon-plus"></span> Add Document
          </button>
        </div>

        <ul>
          <li class="document brokerage-module" 
              ng-repeat="docModel in series.allDocModels track by $index" 
              ng-class="{last: $index % 2 !== 0}">
            <a ng-href="/pdf-viewer/file:{{docModel.doc().file()}}" class="file-link col-xs-1">
              <span class="glyphicon glyphicon-file"></span>
            </a>
            <div class="details col-xs-11">
              <button class="btn-tertiary-material-flat edit ng-scope ng-click-active" 
                      type="button" 
                      ng-click="docModel.edit()" 
                      ng-if="series.isNotYetOpened()">EDIT</button>

              <confirm-modal class="confirm-delete-button" 
                             ng-if="series.isNotYetOpened()" 
                             config="docModel.confirmDeleteConfig"></confirm-modal>

              <a ng-href="/pdf-viewer/file:{{docModel.doc().file()}}">
                <span class="title">{{docModel.name()}}</span>
              </a>
              <span class="type">{{docModel.type().humanReadable()}}</span>
              <span ng-show="docModel.externalRef()" class="ng-hide separator">|</span>
              <span ng-show="docModel.externalRef()" class="ng-hide required">Signature Required</span>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </li>
</ul>
