<div class="v2 crm-page offering-series-doc-dialog modal-cvc modal-crm modal-crm-add-items">
  <div class="modal-header">
    <h3>Series Document</h3>
  </div>
  <div class="modal-body">
    <form name="offeringSeriesDocForm"
          cvc-form
          cvc-form-data="formData"
          cvc-form-type="{{dialogViewModel.formType()}}"
          ng-submit="submit()"
          cvc-form-context="dialogViewModel.formContext()">
      <ol>
        <li class="modal-crm-single-item-form">
          <section>
            <div class="container-fluid">

              <div class="row">
                <div class="ng-hide" ng-show="isAddingDocument()">
                  <file-upload name="document"
                               ng-model="formData.file"
                               controls="false"
                               initializing="false"
                               cvc-form-field>
                  </file-upload>
                  <ol cvc-form-field-focus="offeringSeriesDocForm.document">
                    <li class="crm-text-input-error" cvc-form-field-error="remote__required">Field is required</li>
                    <li class="input-error" cvc-form-field-error="remote__incorrect_format">
                      Please select a document file
                    </li>
                  </ol>
                </div>

                <ul class="documents ng-hide" ng-show="fileExists()">
                  <li class="document">
                    <section class="row">
                      <div class="col-sm-12">
                        <label for="name" class="crm-control-label">FILE NAME</label>
                        
                          <input name="name"
                                 id="name"
                                 cvc-form-field
                                 ng-disabled="!isFormEnabled()"
                                 type="text"
                                 ng-model="formData.name"
                                 class="crm-checkbox doc-visibility col-sm-4">
                          <ol cvc-form-field-focus="offeringSeriesDocForm.name">
                            <li class="crm-text-input-error" cvc-form-field-error="remote__required">Field is required</li>
                          </ol>                        
                      </div>
                    </section>

                    <section class="row">
                      <div class="form-group col-sm-5">
                        <label for="external_ref" class="crm-control-label">TEMPLATE ID</label>
                        <input name="external_ref"
                               id="external_ref"
                               cvc-form-field
                               ng-disabled="!isFormEnabled()"
                               type="text"
                               ng-model="formData.external_ref"
                               class="crm-input crm-input-edit external_ref">
                      </div>
                      <div class="col-sm-7">
                        <label for="type" class="crm-control-label">Document Type</label>
                        <select
                          class="crm-input select-box" 
                          name="type"
                          id="type"
                          cvc-form-field
                          ng-disabled="!isFormEnabled()" 
                          ng-options="type.value() as type.humanReadable() for type in dialogViewModel.DocsType.all()" 
                          ng-model="formData.type"></select>
                        <ol cvc-form-field-focus="offeringSeriesDocForm.type">
                          <li class="crm-text-input-error" cvc-form-field-error="remote__required">Field is required</li>
                        </ol>
                      </div>
                    </section>

                    <section class="row doc-flags">
                      <fieldset class="form-group col-sm-10">
                        <legend class="crm-control-label">WHO HAS TO SIGN THE DOCUMENT</legend>
                        <ul class="col-sm-6 left-col">
                          <li class="col-sm-12">
                            <input name="us_individual_must_sign"
                                 id="us_individual_must_sign"
                                 cvc-form-field
                                 ng-disabled="!isFormEnabled()"
                                 type="checkbox"
                                 ng-model="formData.us_individual_must_sign"
                                 class="crm-checkbox doc-visibility col-sm-3">
                            <label class="col-sm-9" for="us_individual_must_sign">US individual must sign</label>
                          </li>
                          <li class="col-sm-12">
                            <input name="us_organization_must_sign"
                                   id="us_organization_must_sign"
                                   cvc-form-field
                                   ng-disabled="!isFormEnabled()"
                                   type="checkbox"
                                   ng-model="formData.us_organization_must_sign"
                                 class="crm-checkbox doc-visibility col-sm-3">
                            <label class="col-sm-9" for="us_organization_must_sign">US organization must sign</label>
                          </li>
                          <li class="col-sm-12">
                            <input name="non_us_individual_must_sign"
                                   id="non_us_individual_must_sign"
                                   cvc-form-field
                                   ng-disabled="!isFormEnabled()"
                                   type="checkbox"
                                   ng-model="formData.non_us_individual_must_sign"
                                 class="crm-checkbox doc-visibility col-sm-3">
                            <label class="col-sm-9" for="non_us_individual_must_sign">Non_us individual must sign</label>
                          </li>
                        </ul>

                        <ul class="col-sm-6 right-col">
                          <li class="col-sm-12">
                            <input name="non_us_organization_must_sign"
                                   id="non_us_organization_must_sign"
                                   cvc-form-field
                                   ng-disabled="!isFormEnabled()"
                                   type="checkbox"
                                   ng-model="formData.non_us_organization_must_sign"
                                 class="crm-checkbox doc-visibility col-sm-3">
                            <label class="col-sm-9" for="non_us_organization_must_sign">Non_us organization must sign</label>
                          </li>
                          <li class="col-sm-12">
                            <input name="firm_must_sign"
                                   id="firm_must_sign"
                                   cvc-form-field
                                   ng-disabled="!isFormEnabled()"
                                   type="checkbox"
                                   ng-model="formData.firm_must_sign"
                                 class="crm-checkbox doc-visibility col-sm-3">
                            <label class="col-sm-9" for="firm_must_sign">Firm must sign</label>
                          </li>
                        </ul>
                      </fieldset>
                    </section>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </li> 
      </ol>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-cancel-material-flat btn-crm-modal-footer"
            type="button"
            ng-click="dismissChanges()">
      Cancel
    </button>
    <button class="btn-primary-material-floating btn-crm-modal-footer"
            ng-click="submit()"
            ng-disabled="!isSubmitEnabled()">
      Submit</span>
    </button>
    <loader default-position="true" ng-show="offeringSeriesDocForm.$cvcForm.$isMakingRemoteRequest()"></loader>
  </div>
</div>
