// Base styles that apply all over the site
html {
  height: 100%;
}

body {
  height: 100%;
  > .v1, > .v2 {
    height: 100%;
  }
}

body .v2, body .modal-cvc {
  font-family: 'Calibre', sans-serif;
  font-weight: 300;
  .font-smoothing-antialias();
  color: @citizen-near-black;
}

.v2, .modal-cvc {
  h1 {font-size:2em}  /* displayed at 24px */
  h2 {font-size:1.5em}  /* displayed at 18px */
  h3 {font-size:1.25em}  /* displayed at 15px */
  h4 {font-size:1em}  /* displayed at 12px */

  h1, h2, h3, h4, p {
    margin:0;
  }

  a {
    color: @citizen-green-for-light-text;
    &:hover {
      text-decoration: underline;
    }
  }
}

.v1, .v2, .modal-cvc {
  .dropdown-menu {
    // Overrides default bootstrap shadow, making it more like material
    .material-z1-shadow();
  }

  input {
    padding: 5px 10px;
    border: solid 1px @citizen-gray-medium-light;
  }

  // Disable between-view animations
  &.view {
    &.ng-enter {
      transition-duration: 0s;
    }
    &.ng-leave {
      transition-duration: 0s;
    }
  }
}

.modal-dialog {
  // Override crappy v1 styles that set the width to 100%, causing
  // visual glitches. We have to do it here because bootstrap modals don't fall
  // within our v1 / v2 scope (they are attached directly to the body)
  @media @screen-tablet-and-smaller {
    width: auto !important;
  }
}

input, select, th, td {font-size:1em}
