// All non-standard fonts used in our app
@font-face {
    font-family: 'AktivGroteskReg';
    src: url('/fonts/AktivGroteskStdReg/AktivGroteskStdReg.eot?#iefix') format('embedded-opentype'), url('/fonts/AktivGroteskStdReg/AktivGroteskStdReg.woff') format('woff'), url('/fonts/AktivGroteskStdReg/AktivGroteskStdReg.ttf')  format('truetype'), url('/fonts/AktivGroteskStdReg/AktivGroteskStdReg.svg') format('svg');
}
@font-face {
    font-family: 'AktivGroteskLt';
    src: url('/fonts/AktivGroteskStdLt/AktivGroteskStdLt.eot?#iefix') format('embedded-opentype'), url('/fonts/AktivGroteskStdLt/AktivGroteskStdLt.woff') format('woff'), url('/fonts/AktivGroteskStdLt/AktivGroteskStdLt.ttf')  format('truetype'), url('/fonts/AktivGroteskStdLt/AktivGroteskStdLt.svg') format('svg');
}
@font-face {
    font-family: 'AktivGroteskBd';
    src: url('/fonts/AktivGroteskStdBd/AktivGroteskStdBd.eot?#iefix') format('embedded-opentype'), url('/fonts/AktivGroteskStdBd/AktivGroteskStdBd.woff') format('woff'), url('/fonts/AktivGroteskStdBd/AktivGroteskStdBd.ttf')  format('truetype'), url('/fonts/AktivGroteskStdBd/AktivGroteskStdBd.svg') format('svg');
}

//
// Deprecated font-face definitions. Do not use.
//
@font-face {
  font-family: 'CalibreWebLight';
  src: url('/fonts/calibreWeb/CalibreWeb-Light.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'CalibreWeb';
  src: url('/fonts/calibreWeb/CalibreWeb-Regular.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'CalibreWebSemibold';
  src: url('/fonts/calibreWeb/CalibreWeb-Semibold.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Semibold.woff') format('woff');
}

//
// Use this font-face definition.
//
@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-Regular.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-RegularItalic.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-Thin.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-ThinItalic.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-Light.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-LightItalic.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-Medium.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-MediumItalic.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-Semibold.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-SemiboldItalic.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-Bold.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-BoldItalic.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-Black.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibreWeb/CalibreWeb-BlackItalic.eot');
  src: url('/fonts/calibreWeb/CalibreWeb-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
