// makes an element sticky on page -- currently used for sticky right nav on company page
.sticky {
  position: fixed;
  top: 70px;
}


//scroll indicator
.scroll-indicator {
  .scroll-indicator-menu {
    .scrolled-here {
      background: red;
    }
  }

  .scroll-indicator-content {
    .scrolled-here {
      background: red;
    }
  }
}


//#1642 - As of 3/19/2015 Docusign cannot display the signature UI on mobile phones with smaller screens such as iphone5. This is a bandaid fix.
.docusign-wrap {
  @media @screen-tablet-and-smaller-landscape {
    min-width: 601px; //docusign has magic width set at 601px to kick in the signature mode, so by forcing the min-width will get us the signature mode with small phones.
  }
}
