// Re-usable styles and visual effects

// Causes a small colored highlight to appear from below on hover
// Make sure to place into a relatively positioned element
.underline-highlight-enable(@color) {
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: @color;
    height: 0px;
    transition: height 0.15s ease-in-out;
    content: "";
  }
}

.underline-highlight-active(@size) {
  &::after {
    height: @size;
  }
}

// causes a small colored highlight to appear from the left on hover
// Make sure to place into a relatively positioned element
.left-highlight-enable(@color) {
  &::after {
    position: absolute;
    display: block;
    width: 0;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: @color;
    transition: width 0.15s ease-in-out;
    content: "";
  }
}

// Mix this into the hover or active state of whatever element
// you want to experience the highlight
.left-highlight-active(@size) {
  &::after {
    width: @size;
  }
}

// causes a small colored highlight to appear from the left on hover
// Make sure to place into a relatively positioned element
.right-highlight-enable(@color) {
  &::after {
    position: absolute;
    display: block;
    width: 0;
    left: auto;
    right: 0px;
    top: 0px;
    height: 100%;
    background-color: @color;
    transition: width 0.15s ease-in-out;
    content: "";
  }
}

// Mix this into the hover or active state of whatever element
// you want to experience the highlight
.right-highlight-active(@size) {
  &::after {
    width: @size;
  }
}

.thin-green-underline(@color, @deflection, @underline-coverage: 90%) {
  &::after {
    // The green underline

    position: absolute;
    content: "";
    bottom: -1 * @deflection;
    height: 1px;
    left: (100% - @underline-coverage) / 2;
    width: @underline-coverage;
    background-color: @color;
  }
}

.highlight-disable() {
  &::after {
    display: none;
  }
}

.button-base() {
  width: 220px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  padding: 10px 50px;
  border: 0px;
  &:focus {
    outline:none;
  }
}

.depressed-shadow() {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.font-smoothing-antialias() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-smoothing-subpixel() {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

//
// material design shadows from https://www.polymer-project.org/components/paper-shadow/demo.html
//
.material-z1-shadow() {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.material-z2-shadow() {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.crm-name-behavior() {
  text-transform: uppercase;
  color: @crm-person-name-text-color;
  font-weight: 600;
  font-size: 18px;
  span.name-token {
    &:first-of-type {
      font-weight: 300
    }
  }
}

